services:
  db:
    image: mysql:latest
    platform: linux/amd64
    environment:
      TZ: Asia/Tokyo
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: myapp_development
      MYSQL_USER: myapp
      MYSQL_PASSWORD: myapppassword
    volumes:
      - mysql_data:/var/lib/mysql
    ports:
      - 3306:3306

  hono-app:
    build: .
    command: bash -c "bun run index.ts"
    tty: true
    stdin_open: true
    volumes:
      - .:/app
    environment:
      TZ: Asia/Tokyo
      MYSQL_PASSWORD: password
    ports:
      - "3000:3000"
    depends_on:
      - db
    env_file:
      - .env

volumes:
  mysql_data:
